@import '../../styles/colors.scss';

.mynav{
    padding: 30px 20px;
    background-color: $primary !important;
    font-weight: 700;
    font-size: 15px;

    .me-auto {
        margin-right: 0!important;
    }

    &__link{
        color: white !important;
    }
}