@import '../../styles/colors.scss';

.footer {
    background: center, no-repeat, fixed;
    color: $primary;
    text-align: center;
    font-weight: bold;
    padding: 30px 0;

    .flex_container{
        display: flex;
        flex-direction: row; 
        flex-wrap: nowrap; 
        margin: 25px 0;
        justify-content: center;
        
        &__icon{
            color: $primary;
            margin: 0 10px 0 10px;
            text-decoration: none;
        }
    }
}

