.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../../assets/banner-cleaning.jpg');
    background-size: cover;
    width: 100vw;
    height: 85vh;
    margin-bottom: 80px;
    // margin: 10px 0 0 10px;
    position: relative;
    float: left;
}

.banner h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
  }

  .banner h4 {
    font-family: 'Roboto', sans-serif;
    // font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    // font-size: 1rem;
    transform: translate(-50%, -50%);
  }
